@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
body {
  background-color: #aad8d3;
  /* box-sizing: border-box; */
  font-family: "Roboto", sans-serif;
}
.title {
  width: 80%;
  height: 20%;
  background-color: rgb(36, 207, 207);
  color: black;
  text-align: center;
  margin: auto;
  font-size: 30px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  /* font-weight: 400; */
  margin-bottom: 40px;
}
h1 {
  /* margin: 20px; */
  font-size: 1.5rem;
}
#user-city {
  background-color: none;
  border: none;
 
}

#city-display {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-right:  auto;
  margin-left: auto;
}
#buscar {
  background-color:#393e46 ;
  color: #fff;
  margin-left: 5px;
  width: 80px;
  border-radius: 3px;
}
#contenedor {
  background-color: #393e46;
  color: #fff;
  text-align: center;
  height: 70vh;
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  /* padding-left: 100px;
  padding-right: 100px; */
  box-sizing: border-box;
  /* display: inline-block; */
}
.titulos {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  margin-bottom: 15%;
  height: 20%;
  background-color: brown;
  align-items: center;

}
.parrafos {
  width: 20%;
  height: 50%;
  /* justify-content: center; */
  align-items: center;
  
}
.container-valores {
  display: flex;
  justify-content: space-around;
  background-color: rgb(36, 207, 207, 0.7) ;
  
}
.valores {
  width: 20%;
  height: 50%;
  border-right: black solid 1.5px ;
}
/* p {
  margin-top: 5rem;
  margin-bottom: 4rem; 
  padding: 18px;
   color: #fff;
} */

footer {
  width: 80%;
  height: 2rem;
  background-color: #393e46;
  color: blanchedalmond;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}


@media  (max-width: 768px) {
  #contenedor {
    display: flex;
    
  }
  .titulos {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: brown;
    /* text-align: center; */
    
  } 
  .container-valores {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 207, 207, 0.9);
    width: 50%;
    height: 100%;
    
  }
  .valores {
    width: 90%;
    height: 80%;
    margin-top: 30px;
    border-bottom: black solid 1.5px ;
    border-right: none;
    margin-left: auto;
    margin-right: auto;
  }
  .parrafos {
    width: 90%;
    height: 80%;
    /* font-size: 90%; */
    /* margin: auto; */
    margin-top: 30px;
    font-size: 90%;
    border-bottom: black solid 1.5px ;
    
  }
 
  
  p {
    margin-top: 0;
    margin-bottom: 0;
    
    
  }
  
}
